.title {
  font-weight: bold;
}

.values {
  margin-top: 20px;
  padding-top: 15px;
  background: rgb(0, 255, 179);
}

.value {
  margin-top: 10px;
  border-top: 1px dashed black;
}

.form {
  margin-top: 20px;
}
